name: Deploy to EC2

on:
  push:
    branches:
      - master

jobs:
  use-template:
    uses: jerobas/.github/.github/workflows/update-readme.yml@main
    secrets: inherit

  deploy:
    name: Deploy Node.js to EC2
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.AWS_KEY }}

      - name: Remove path
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@${{ secrets.AWS_KEY }} "rm -rf /home/ubuntu/queemo-server"

      - name: Use Node.js 22.9.0
        uses: actions/setup-node@v4
        with:
          node-version: 22.9.0

      - name: Install dependencies and run tests
        run: |
          npm ci
          npm run test

      - name: Install and build locally
        run: |
          npm ci
          npm run build

      - name: Copy to EC2
        run: |
          rsync -avz --delete \
            --include='src/infra/***' \
            --exclude='src/***' \ 
            --exclude node_modules \
            --exclude='tsconfig.json' \
            --exclude='jest.config.js' \
            -e "ssh -o StrictHostKeyChecking=no" \
            ./ ubuntu@${{ secrets.AWS_HOST }}:/home/ubuntu/ queemo-server/

      - name: Link persistent .env
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@${{ secrets.AWS_HOST }} "
            ln -sf /home/ubuntu/envs/.env.queemo /home/ubuntu/queemo-server/.dev.env
          "

      - name: Run setup and deploy on EC2
        shell: bash
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@${{ secrets.AWS_HOST }} 'bash -l' << EOF 
              cd /home/ubuntu/queemo-server
              source /home/ubuntu/.nvm/nvm.sh
              nvm use 22.9.0
              npm install
              pm2 update
          EOF
