name: Deploy to EC2

on:
  push:
    branches:
      - master

jobs:
  use-template:
    uses: jerobas/.github/.github/workflows/update-readme.yml@main
    secrets: inherit

  deploy:
    name: Deploy Node.js to EC2
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}

      - name: Remove path
        run: |
         ssh -o StrictHostKeyChecking=no ubuntu@${{ secrets.SSH_HOST }} "rm -rf /home/ubuntu/*"
         
      - name: Copy to EC2
        run: |
           rsync -avz --delete \
             --rsync-path="mkdir -p /home/ubuntu/app && rsync" \
             -e "ssh -o StrictHostKeyChecking=no" \
             . ubuntu@${{ secrets.SSH_HOST }}:/home/ubuntu/app/
       

      - name: Run setup and deploy on EC2
        shell: bash
        run: |
            ssh -o StrictHostKeyChecking=no ubuntu@${{ secrets.SSH_HOST }} 'bash -l' << EOF 
                cd /home/ubuntu/app
                npm install

                /home/ubuntu/.nvm/versions/node/v20.18.0/bin/pm2 stop voip-peer || true
                /home/ubuntu/.nvm/versions/node/v20.18.0/bin/pm2 delete voip-peer || true
                /home/ubuntu/.nvm/versions/node/v20.18.0/bin/pm2 start npm --name "voip-peer" -- run peerjs

                /home/ubuntu/.nvm/versions/node/v20.18.0/bin/pm2 stop voip-socket || true
                /home/ubuntu/.nvm/versions/node/v20.18.0/bin/pm2 delete voip-socket || true
                /home/ubuntu/.nvm/versions/node/v20.18.0/bin/pm2 start npm --name "voip-socket" -- run socket

                # executa docker compose
                cd src/infra
                docker-compose up -d
            EOF

