name: Deploy to EC2

on:
  push:
    branches:
      - master

jobs:
  use-template:
    uses: jerobas/.github/.github/workflows/update-readme.yml@main
    secrets: inherit

  deploy:
    name: Deploy Node.js to EC2
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.JEROBAS_KEY }}

      - name: Remove path
        run: |
          ssh -o StrictHostKeyChecking=no -p 2222 ${{ secrets.JEROBAS_USER }}@${{ secrets.JEROBAS_HOST }} "rm -rf /home/${{ secrets.JEROBAS_USER }}/repos/queemo-server"

      - name: Use Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies and run tests
        run: |
          npm install
          npm run test
          npm run build

      - name: Copy
        run: |
          rsync -avz --delete \
            --exclude='src/***' \
            --exclude='node_modules' \
            --exclude='tsconfig.json' \
            --exclude='jest.config.js' \
            -e "ssh -o StrictHostKeyChecking=no -p 2222" \
            ./ ${{ secrets.JEROBAS_USER }}@${{ secrets.JEROBAS_HOST }}:/home/${{ secrets.JEROBAS_USER }}/repos/queemo-server

      - name: Setup and Deploy
        shell: bash
        run: |
          ssh -o StrictHostKeyChecking=no -p 2222 ${{ secrets.JEROBAS_USER }}@${{ secrets.JEROBAS_HOST }} 'bash -l' << EOF
              source /home/${{ secrets.JEROBAS_USER }}/.bashrc
              cd /home/${{ secrets.JEROBAS_USER }}/repos/queemo-server
              npm i
              pm2 delete queemo-server || true && pm2 start npm --name "queemo-server" -- run start
          EOF
